* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}


@media (max-height: 480px) {
  html{
    font-size: 10px;
  }
}



.App {
  text-align: center;
}
* label  {
  transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19)!important;
}
#manageSection {
  transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19)!important; 
}
#openMenuSection {
  transition: 0.25s cubic-bezier(0.55, 0.055, 0.675, 0.19)!important; 
}
.input-field:focus-within label {
  display:block;
  top:-0.75rem;
  opacity: 1;
  left:0;

}

.text-area-field:focus-within label {
  top:-0.75rem;
  opacity: 1;
  left:0;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


